/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

h1,
h2 {
    margin: 0 0 10px;
    color: #333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
