:root {
    --main-bg-color: #f9f9f9;
}
.body {
    /* font-family: "Roboto", sans-serif; */
    background-color: var(--main-bg-color);
    /* color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
h1,
h2 {
    margin: 0 0 10px;
    color: #333;
}

.navbar {
    background: rgba(20,66,100, 0.9);
    backdrop-filter: blur(8px);
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #feda00;
    /* Blue progress bar */
    transition: width 0.1s linear;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.img-container {
    aspect-ratio: 18/10;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.headlines {
    font-family: "Optima", serif;
    /* "Cormorant Garamond", serif; */
    font-weight: 700;
    font-style: normal;
}

.partition {
    display: flex;
    align-items: center;
    width: 100%;
}

.partition span {
    white-space: nowrap;
    padding-right: 0.5rem;
    /* Prevents text from breaking */
}

.partition hr {
    flex-grow: 1;
    /* Makes the line take the remaining space */
    border: none;
    border-top: 2px dotted #999;
    /* Customizes the line */
}

.accordion-button:not(.collapsed) {
    background-color: none;
}

.nav-tabs .nav-link {
    border-radius: 0 !important;
    background-color: #dddddd;
    color: #333;
}

.nav-tabs .nav-link.active {
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid var(--bs-border-color) !important;
    border-bottom: 1px solid var(--main-bg-color) !important; 
}

.nav-tabs-wrapper {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent tabs from wrapping to the next line */
    scrollbar-width: thin;
    /* For Firefox */
    scroll-snap-type: x mandatory;
}

.nav-tabs {
    flex-wrap: nowrap !important;
    /* Prevent Bootstrap from wrapping */
}

.nav-tabs::-webkit-scrollbar {
    height: 4px;
    /* Customize scrollbar height */
}

.nav-tabs::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 10px;
}

.nav-tabs .nav-item {
    scroll-snap-align: start;
}